{% extends 'Layout.html.twig' %}

{% block content %}
    {% include 'FlashMessages.html.twig' %}
<form method="post">
    <input type="text" name="token" value="{{ get_token('login') }}" hidden="hidden">
    <label for="nickname">Nickname</label>
    <input type="text" name="nickname" id="nickname"><br>
    <label for="password">Password</label>
    <input type="text" name="password" id="password"><br>
    <input type="submit" value="Login">
</form>
{% endblock %}